wispi.monster, www.wispi.monster {
    encode zstd gzip

    root * /srv

    handle_path /api/* {
        reverse_proxy backend:8000
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}