wispi.monster, www.wispi.monster {
    encode zstd gzip

    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    header X-Content-Type-Options "nosniff"
    header X-Frame-Options "SAMEORIGIN"
    header Referrer-Policy "strict-origin-when-cross-origin"

    root * /srv

    handle_path /api/* {
        reverse_proxy backend:8000
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}