@import "tailwindcss";
@config "../tailwind.config.js";

html, body, #root {
  height: 100%;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}